// put css in here. You can also override variables found in node_modules/bootstrap/scss/_variables.scss

$font-size-root: 18px;

a {
  cursor: pointer;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 800px,
  xl: 800px
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Don't know why this doesn't work right
.modal.fade {
  opacity: 100
}
.modal.fade .modal-dialog {
  transform: none
}

.navbar {
  font-size: 120%
}